body {
  font-family: 'Quicksand', sans-serif;

  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: #416D19;
}

footer {
  padding: 20px;
  color: white;
  background-color: #416D19;

  text-align: center;
  font-weight: bold;
}

nav a {
  font-size: 18px;

  font-weight: 400;
  text-decoration: none;

  color: white;
}

nav a:hover {
  font-weight: 700;
}

.profile header {
  text-align: center;
}

.featured-image {
  width: 100%;
  max-height: 300px;

  object-fit: cover;
  object-position: center;
}

.profile img {
  max-width: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  padding: 20px;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #416D19;
  text-align: center;
  color: white;
}

nav ul{
  padding-inline: 4 rem;
  display: flex;
  gap: 2rem;
}

nav li {
  list-style-type: none;
  margin-right: 20px;
  font-size: 50%;
}

nav {
  background-color: #749940;
  padding: 5px;
  position: sticky;
  top: 0;
}

main {
  padding: 20px;
 display: flex;
  gap: 1.5rem;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
  background-color: none;
}

aside {
  flex: 1 ;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }
  main aside {
    align-self: center;
  }
}


@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }
  main aside {
    align-self: stretch;
  }
}
header {
  display: inline;
  
}
tr{
  color: #416D19;
}
td{
  color: #416D19;
}

.card p{
  color: #416D19;
  font-weight: 600;
}

figure figcaption{
  color: #416D19;
  font-weight: 600;
}